<p id="notice"><%= notice %></p>

<p>
<div class="row">
  <strong>Username: </strong>
  <%= @user.username %>
  <% if !current_user?(@user) %>
      <% if current_user.is_friends_with?(@user) %>
          <td><%= link_to "Remove Friend", remove_friend_user_path(@user.id), method: :delete, class: 'btn btn-primary btn-xs pull-right' %></td>
      <% else %>
          <td><%= link_to "Add Friend", add_friend_user_path(@user.id), method: :post, class: 'btn btn-primary btn-xs pull-right' %></td>
      <% end %>
  <% end %>
</div>

</p>


<% if is_admin? || current_user?(@user)%>
    <p>
      <strong>Privilege:</strong>
      <%= @user.privilege %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
<% end %>


<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Posts</a></li>
  <% if is_admin? || current_user?(@user)%>
      <li><a href="#assets" data-toggle="tab">Files</a></li>
      <li><a href="#sharedwithme" data-toggle="tab">Shared with Me</a></li>
  <% end%>
  <% if !current_user?(@user) %>
      <li><a href="#sharedwithyou" data-toggle="tab">Shared Files</a></li>
  <% end %>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
    <br>
    <% if @posts.size != 0 %>
        <%= render @posts %>
    <% else %>
        <strong>No Posts Yet!</strong> <br> <br>
    <% end %>
    <div class="text-center">
      <%= will_paginate @posts %>
    </div>
  </div>

  <div class="tab-pane fade" id="assets">
    <br>
    <%= render 'assets/asset_table' %>
  </div>

  <div class="tab-pane fade" id="sharedwithme">
    <br>
    <%= render 'assets/shared_with_me' %>
  </div>

  <div class="tab-pane fade" id="sharedwithyou">
    <br>
    <%= render 'assets/shared_with_you' %>
  </div>

</div>


<% if current_user?(@user) %>
    <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>


