<tr>
  <td><%= asset.custom_name %></td>
  <td><%= asset.filename %></td>
  <td><%= link_to 'Show', user_asset_path(@user, asset) %></td>
  <td><%= link_to 'Edit', edit_user_asset_path(@user, asset) %></td>
  <td><%= link_to 'Delete', user_asset_path(@user, asset), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
