<p id="notice"><%= notice %></p>



<br>
<br>

<div class="text-center">
  <strong>User: <%= @user.username %></strong>
  <p>File Name: <%= @asset.filename %></p>

</div>

<%= link_to 'Edit', edit_user_asset_path(@asset) %> |
<%= link_to 'Back', user_assets_path %>
