<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class=thumb-img">
      </div>
      <div class="user-name">
        <%= link_to post.user.username, post.user %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
    </div>
    <div class="image center-block" id="post_id">
      <%= link_to image_tag(post.image.url(:medium), border: 0), post_path(post), { class: "img-responsive "}%>
    </div>
    <div class="post-bottom">
      <%= render 'posts/likes', post: post %>
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <%= post.caption %>
        </div>

        <div class="comments" id="comments_<%=post.id%>">
          <% if post.comments %>
              <%= render post.comments, post: post %>
          <% end %>
        </div>
      </div>

      <%= render 'comments/comment_form', post: post %>

    </div>
  </div>
</div>
